.shine {
    background: linear-gradient(30deg, #b8860b, #ffd700, #b8860b);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 2s linear infinite;
}

@keyframes shine {
    0% {
        background-position: -200%;
    }
    100% {
        background-position: 200%;
    }
}